<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="StrDB" connectionString="server=.;database=newSunShine;uid=sa;pwd=123456"/>
    <add name="LocalConn" connectionString="server=.;database=newSunShine;uid=sa;pwd=123456"/>
    <add name="SiteConn" connectionString="server=120.76.28.184,9490;uid=web_db;pwd=1Z2X3C4V5B6N7m;database=yzl_wexin;" />
  </connectionStrings>
  <appSettings>
    <!--定时器扫描间隔单位：毫秒-->
    <add key="interval" value="1000" />
    <add key="dateformat" value="yyyy-MM-dd 08:00:00" />
    <add key="check_depth" value="4"/>
    <add key="minute_interval" value="1"/>
    <add key="hour_interval" value="2"/>
    <!--以下单位按天计-->
    <add key="day_interval" value="1"/>
    <add key="week_interval" value="7"/>
    <add key="month_interval" value="31"/>
    <add key="year_interval" value="365"/>
  </appSettings>
</configuration>